---
import Welcome from "../../components/Welcome.astro";
import LayoutWithHero from "../../layouts/LayoutWithHero.astro";
import image from "../../assets/img/2024_actu_festi_ap_05_ecran.jpg.webp";
import { getAllFilms } from "../../../backend/backend.mjs";
import Card from "../../components/Card.astro";

const title = "Programme des films";
const subTitle = "du Lundi 7 au jeudi 10 Juillet 2025.";
const description = ".";

// Récupérer les films depuis PocketBase
const events = await getAllFilms();
---

<LayoutWithHero
    title={title}
    description={description}
    subTitle={subTitle}
    src={image}
    alt="Image de cinéma"
>
    <div
        class="absolute inset-0 z-0 flex items-center justify-end overflow-hidden stroke-[--color-pink] stroke-24 opacity-80 mix-blend-difference"
        slot="patterns"
    >
    </div>

    <Fragment slot="content">
        <h2>Programmation des films de la semaine</h2>

        <!-- Affichage des films -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 my-24">
            {
                events.length > 0 ? (
                    events.map((event) => <Card {...event} />)
                ) : (
                    <p class="col-span-full text-center">
                        Aucun film à afficher.
                    </p>
                )
            }
        </div>
    </Fragment>
</LayoutWithHero>
