@import "tailwindcss";

@theme {
    --font-sans: "Monserrat", sans-serif;
    --font-heading: "Chewy", sans-serif;

    --color-black: oklch(0% 0.0066 100.6);
    /* #000000 */
    --color-white: oklch(100% 0 100.6);
    /* #FFFFFF */
    --color-brownblack: oklch(40.84% 0.0083 97.52);
    /* #4B4A45 */
    --color-pink: oklch(71.77% 0.1899 2.25);
    /* #FF679A */
    --color-bleu: oklch(79.35% 0.1148 208.01);
    /* #4DD0E2 */
    --color-bleuhero: oklch(83.15% 0.0773 225.2);
    /* #90D3EE */
    --color-yellow: oklch(90.84% 0.1616 100.6);
    /* #F9E351 */

    --my-grid: repeat(12, minmax(0, 64px));
}

@layer base {
    body {
        @apply font-sans text-base leading-normal;
    }

    h1 {
        @apply text-5xl font-heading leading-tight lg:text-6xl;
    }

    h2 {
        @apply text-2xl font-heading leading-tight lg:text-4xl;
    }

    h3 {
        @apply font-sans font-medium leading-tight my-4;
        font-size: 1.17em;
    }
}

@layer components {
    .grille {
        @apply px-6 lg:grid lg:grid-cols-(--my-grid) lg:justify-center lg:gap-12;
    }
        .noscroll {
            overflow: hidden;
        }
        header.bg-white #menu-btn[aria-expanded="false"]>span {
            @apply !bg-black;
        }
    
        header:not(.bg-white) button[aria-label="Recherche"]>svg>* {
            @apply max-lg:stroke-white;
        }
                .duotone {
                    @apply relative flex overflow-hidden bg-(--color-bleu) before:absolute before:inset-0 before:z-[1] before:bg-(--color-black) before:mix-blend-lighten before:transition-all before:duration-300 before:ease-in-out;
        
                    img {
                        @apply flex-[1_0_100%] object-cover mix-blend-multiply grayscale transition-all duration-300 ease-in-out;
                    }
                }
.main-content {
    p {
        @apply mb-4;
    }

    h2,
    h3,
    h4 {
        @apply mb-4;
    }

    h2:not(:first-child),
    h3:not(:first-child),
    h4:not(:first-child) {
        @apply mt-8;
    }

    ul {
        @apply list-disc pl-5 my-4;
    }

    ol {
        @apply list-decimal pl-5 my-4;
    }

    figure {
        @apply lg:-mx-32;
    }

    figcaption {
        @apply text-sm text-gray-500 mt-2;
    }

    address {
        @apply not-italic;
    }
}
}
