---
import Welcome from "../components/Welcome.astro";
import LayoutWithHero from "../layouts/LayoutWithHero.astro";
import image from "../assets/img/2024_actu_festi_ap_05_ecran.jpg.webp";
const title = "Le Festival";
const subTitle = "Découvrer Lionimation";
const description =
	".";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<LayoutWithHero
	title={title}
	description={description}
	subTitle={subTitle}
	src={image}
	alt="Image de cinéma">
	<div
		class="absolute inset-0 z-0 flex items-center justify-end overflow-hidden stroke-(--color-pink) stroke-24 opacity-80 mix-blend-difference"
		slot="patterns"
	>
	</div>
	<Fragment slot="content">
		<p>Contenu principal de la page</p>
	</Fragment>
</LayoutWithHero>
