---
import Welcome from "../components/Welcome.astro";
import LayoutWithHero from "../layouts/LayoutWithHero.astro";
import image from "../assets/img/affiche_festival.webp";
const title = "Info Pratique";
const subTitle = "les prix? se rendre au festival? tout ce qu'il y a à savoir";
const description =
	".";
---

<LayoutWithHero
	title={title}
	description={description}
	subTitle={subTitle}
	src={image}
	alt="Image de cinéma">
	<div
		class="absolute inset-0 z-0 flex items-center justify-end overflow-hidden stroke-(--color-pink) stroke-24 opacity-80 mix-blend-difference"
		slot="patterns"
	>
	</div>
	<Fragment slot="content">
		<p>Contenu principal de la page</p>
	</Fragment>
</LayoutWithHero>
