---

---

<header>
    <nav>
        <ul class="flex gap-4 bg-slate-500 w-full p-4">
            <li>
                <a href="/" class="text-white hover:text-gray-300">Acceuil</a>
            </li>
            <li>
                <a href="/festival/" class="text-white hover:text-gray-300"
                    >Le Festival</a
                >
            </li>
            <li>
                <a href="/programmation/" class="text-white hover:text-gray-300"
                    >Programmation</a
                >
            </li>
            <li>
                <a href="/billetterie/" class="text-white hover:text-gray-300"
                    >Billetterie</a
                >
            </li>
            <li>
                <a href="/invites/" class="text-white hover:text-gray-300"
                    >Invités</a
                >
            </li>
            <li>
                <a href="/info_pratique/" class="text-white hover:text-gray-300"
                    >Info pratique</a
                >
            </li>
            <li>
                <a href="/Contacts/" class="text-white hover:text-gray-300"
                    >Contacts</a
                >
            </li>
        </ul>
    </nav>
</header>
