---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Titre de la page" description="Description de la page">
  <div class="pt-30">
    <div>
      <h1>Mon Titre</h1>
      <h2>Mon Sous-Titre</h2>
    </div>

    <div>
      <p>Mon texte d'introduction</p>
    </div>
  </div>
</Layout>